<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sarm.tellme" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tell Me!</name>
    <description>
        An app to keep track of product prices.
    </description>
    <author email="sarm333@gmail.com">
        Sarm Boonlertuthai
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="*.pushwoosh.com" />
    
    <preference name="DisallowOverscroll" value="true" />
    <feature name="PushNotification">
        <param name="ios-package" value="PushNotification" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <feature name="LocalNotification">
        <param name="ios-package" value="LocalNotification" />
    </feature>
    <feature name="BackgroundFetch">
        <param name="ios-package" value="CDVBackgroundFetch" />
    </feature>
    <feature name="InAppBrowser">
    	<param name="ios-package" value="CDVInAppBrowser" />
	</feature>
    <feature name="ActivityIndicator">
        <param name="ios-package" value="ActivityIndicator" />
    </feature>
</widget>
