.topcoat-icon--back {
    background: url("../topcoat/img/back_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.top-bar {
    padding:10px 10px 12px 12px;
}

.top-bar > input {
    width: 70%;
}

.top-nav-bar {
    background-color: #FAFAFA;
}

.header-icon {
    top: 1px;
    background: url("../topcoat/img/app-icon-header.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
    right: 5px;
}

.add-button {
    float: right;
}

.icon-add-button {
    background: url("../topcoat/img/add-button.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.header-button:hover, .edit-button:hover {
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    -webkit-box-shadow: inset 0 1px #737373;
    box-shadow: inset 0 1px #FAFAFA;
}

.header-button:focus:active, .edit-button:focus:active {
    background-color: #FAFAFA;
    border: 1px solid #333434;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.05);
}

.header-button {
    top: 6px;
    bottom:10px;
    right: 15px;
}

.edit-button {
    top: 6px;
    bottom:10px;
    left: 5px;
}

.icon-edit-button {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-refresh-button {
    background: url("../topcoat/img/reload-icon.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

#remove-button {
    display:inline-block;
    float: right;
    position: absolute;
    right:2px;
    top: 22px;
    height: 50px;
    width: 28px;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0);
}

.list {
    list-style-type: none;
    border-top: none !important;
    background-color: #FAFAFA;
    height: 100%;
}

.list > li {
    position: relative;
    clear: both;
    padding: 0px;
    margin: 0px;
}

.list > li:nth-of-type(1) {
    border-top: none;
}

.list > li > a {
    margin: 0px;
    display: block;
    height: 57px;
    padding: 4px;
    background-color: #FAFAFA;
}


.list > li > a > p:nth-of-type(1) {
    margin: 8px 0px 0px 0px;
    font-weight: bold;
}

.list > li p:nth-of-type(2) {
    margin: 0px;
    color: #777;
}

.list > li img {
    width: 57px;
    height: 57px;
    float: left;
    margin-right: 8px;
}

.list li:active {
    background-color: #d6d6d6;
}

.quick-details {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.details {
    margin: auto;
}

.details>img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.details h1 {
    padding: 12px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.2rem;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.details h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #888;
}

.details > .scroller {
    top:175px;
}

.actions > li > a {
    padding-left: 12px;
}

.action-icon {
    position: absolute !important;
    top: 18px;
    right: 20px !important;
    width: 28px !important;
    height: 28px;
}

.actions li p:nth-of-type(1) {
    color: #04dc97;
    font-size: 0.9em;
    font-weight: lighter;
}

.actions li p:nth-of-type(2) {
    color: inherit;
}

.chevron {
    background: transparent url(../topcoat/img/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right:2px;
    top: 22px;
    height: 50px;
    width: 28px;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    top: 141px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.frame {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
}

.bottom-bar {
    position: fixed; 
    bottom: 0px;
}
 
.icomatic {
    font-size: auto;
    text-rendering: optimizeLegibility;
    font-weight:900;
}

.product-detail {
	width: auto;
	height: auto;
}

.product-page-top-bar {
    background-color: #FAFAFA;
}

.buy-now-button {
    background-color: #4efbc5;
}


.topcoat-text-input:focus {
    border: 1px solid #4efbc5;
}